In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:/读书与学习笔记/书籍与相关资料/统计学与数据分析/利用python进行数据分析/pydata-book-2nd-edition/examples/ex6.csv')

In [6]:
from sqlalchemy import create_engine
import pymysql

In [7]:
engine = create_engine("mysql+pymysql://{}:{}@{}:{}/{}".format('root', '761928443', 'localhost', '3306', 'Python'))
#engine = create_engine('mysql+pymysql://root:12345678@localhost:3306/testdb')

In [8]:
df.to_sql('ex6', engine, index=False)

In [9]:
df2 = pd.read_csv('D:/读书与学习笔记/书籍与相关资料/统计学与数据分析/利用python进行数据分析/pydata-book-2nd-edition/examples/macrodata.csv')

In [10]:
df2.head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

# 给mysql创建表格

In [22]:
con = pymysql.connect(host='localhost',user='root',password='761928443',database='Python',port=3306)
cur = con.cursor()
sql="""
    create table macrodata(
    id int primary key auto_increment,
    year float,
    quarter float,
    realgdp float,
    realcons float,
    realinv float,
    realgovt float,
    realdpi float,
    cpi float,
    m1 float,
    tbilrate float,
    unemp float,
    pop float,
    infl float,
    realint float
    ) 
"""

try:
    # 执行创建表的sql
    cur.execute(sql)
    print("创建表成功")
except Exception as e:
    print("创建表失败")
    print(e)
finally:
    # 关闭连接
    con.close()

创建表成功

In [23]:
df2.to_sql('macrodata', engine, index=False,if_exists='append')

# 删除表

In [21]:
con = pymysql.connect(host='localhost',user='root',password='761928443',database='Python',port=3306)
cur = con.cursor()
sql = '''DROP TABLE 
    IF EXISTS macrodata'''
cur.execute(sql)
cur.close